{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Architect plugin for Craft CMS 3.x
 *
 * Architect import.twig
 *
 * @author    Pennebaker
 * @copyright Copyright (c) 2018 Pennebaker
 * @link      https://pennebaker.com
 * @package   Architect
 * @since     2.0.0
 */
#}

{% extends "architect/_layouts/base" %}

{% set selectedSubnavItem = 'export' %}

{% set tabs = [
    {
        url: '#tab-sites',
        label: 'Sites'|t('app')
    },
    {
        url: '#tab-sections',
        label: 'Sections'|t('app')
    },
    {
        url: '#tab-routes',
        label: 'Routes'|t('app')
    },
    {
        url: '#tab-fields',
        label: 'Fields'|t('app')
    },
    {
        url: '#tab-assets',
        label: 'Assets'|t('app')
    },
    {
        url: '#tab-globals',
        label: 'Globals'|t('app')
    },
    {
        url: '#tab-categories',
        label: 'Categories'|t('app')
    },
    {
        url: '#tab-tags',
        label: 'Tags'|t('app')
    }
] %}

{% if CraftEdition == CraftPro %}
    {% set tabs = tabs|merge([{
        url: '#tab-users',
        label: 'Users'|t('app')
    }]) %}
{% endif %}

{% set fullPageForm = true %}

{% block actionButton %}
    <input type="submit" class="btn submit" value="{{ 'Export'|t('architect') }}">
{% endblock %}

{# The content of the CP SectionProcessor #}
{% set content %}
    <div class="field toolbar">
        <div id="fields">
            <div>
                <div id="tab-sites">
                    {% include'architect/_blueprints/sites' %}
                </div>
                <div id="tab-sections" class="hidden">
                    {% include'architect/_blueprints/sections' %}
                </div>
                <div id="tab-routes" class="hidden">
                    {% include'architect/_blueprints/routes' %}
                </div>
                <div id="tab-fields" class="hidden">
                    {% include'architect/_blueprints/fields' %}
                </div>
                <div id="tab-assets" class="hidden">
                    {% include'architect/_blueprints/volumes' %}
                    <hr>
                    {% include'architect/_blueprints/asset_transforms' %}
                </div>
                <div id="tab-globals" class="hidden">
                    {% include'architect/_blueprints/globals' %}
                </div>
                <div id="tab-categories" class="hidden">
                    {% include'architect/_blueprints/category_groups' %}
                </div>
                <div id="tab-tags" class="hidden">
                    {% include'architect/_blueprints/tag_groups' %}
                </div>
                {% if CraftEdition == CraftPro %}
                    <div id="tab-users" class="hidden">
                        {% include'architect/_blueprints/user_groups' %}
                        <hr>
                        {% include'architect/_blueprints/users' %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endset %}
