{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Architect plugin for Craft CMS 3.x
 *
 * Architect import.twig
 *
 * @author    Pennebaker
 * @copyright Copyright (c) 2018 Pennebaker
 * @link      https://pennebaker.com
 * @package   Architect
 * @since     2.0.0
 */
#}

{% extends "architect/_layouts/base" %}

{% set selectedSubnavItem = 'import' %}

{% set crumbs = [
    { label: "Settings"|t,  url: cpUrl('settings') },
    { label: "Architect"|t('architect'), url: cpUrl('architect') },
    { label: "Import"|t('architect'), url: cpUrl('import') },
] %}

{# Get a URL to an image in our AssetBundle #}
{% set iconUrl = view.getAssetManager().getPublishedUrl('@pennebaker/architect/assetbundles/indexcpsection/dist', true) ~ '/img/Index-icon.svg' %}

{# The content of the CP Section #}
{% set content %}
    <h2>{{ "Import CP Section body goes here"|t('architect') }}</h2>
    <img src="{{ iconUrl }}" height="128" width="128" />
    <p class="textline">Creating new section "News" was {{ (success) ? 'successful!' : 'unsuccessful.' }}</p>
{% endset %}
