{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Architect plugin for Craft CMS 3.x
 *
 * Architect import.twig
 *
 * @author    Pennebaker
 * @copyright Copyright (c) 2018 Pennebaker
 * @link      https://pennebaker.com
 * @package   Architect
 * @since     2.0.0
 */
#}

{% extends "architect/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'import' %}

{# The content of the CP Section #}
{% set content %}
    <h2>{{ "Import CP Section body goes here"|t('architect') }}</h2>

    <form method="post" action="">

        {{ csrfInput() }}

        {% set jsonData = source('architect/test.json') %}

        {{ forms.textareaField({
            label: "JSON Data"|t('architect'),
            instructions: "Put your json import data here."|t('architect'),
            id: 'jsonData',
            class: 'code',
            name: 'jsonData',
            value: jsonData,
            rows: 30
        }) }}

        <input type="submit" class="btn submit" value="{{ 'Import'|t('architect') }}" />

    </form>

{% endset %}
