{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Architect plugin for Craft CMS 3.x
 *
 * Architect import.twig
 *
 * @author    Pennebaker
 * @copyright Copyright (c) 2018 Pennebaker
 * @link      https://pennebaker.com
 * @package   Architect
 * @since     2.0.0
 */
#}

{% extends "architect/_layouts/base" %}
{% import "_includes/forms" as forms %}

{% set selectedSubnavItem = 'import' %}

{# The content of the CP Section #}
{% set content %}
    <h2>{{ "Import CP Section body goes here"|t('architect') }}</h2>

    <form method="post" action="">

        {{ csrfInput() }}

        {% if jsonData is not defined %}
            {% set jsonData = source('architect/test.json') %}
        {% endif %}

        {{ forms.textareaField({
            label: "JSON Data"|t('architect'),
            instructions: "Put your json import data here."|t('architect'),
            id: 'jsonData',
            class: 'code',
            name: 'jsonData',
            value: jsonData,
            rows: 30
        }) }}

        {% if invalidJson %}
            <p class="error">JSON:
                {% switch invalidJson %}
                    {% case 1 %}
                        The maximum stack depth has been exceeded.
                    {% case 2 %}
                        Occurs with underflow or with the modes mismatch.
                    {% case 3 %}
                        Control character error, possibly incorrectly encoded.
                    {% case 4 %}
                        Syntax error.
                    {% case 5 %}
                        Malformed UTF-8 characters, possibly incorrectly encoded.
                {% endswitch %}
            </p>
        {% endif %}

        <input type="submit" class="btn submit" value="{{ 'Import'|t('architect') }}" />

    </form>

{% endset %}
