{# @var craft \craft\web\twig\variables\CraftVariable #}
{#
/**
 * Architect plugin for Craft CMS 3.x
 *
 * Architect import.twig
 *
 * @author    Pennebaker
 * @copyright Copyright (c) 2018 Pennebaker
 * @link      https://pennebaker.com
 * @package   Architect
 * @since     2.0.0
 */
#}

{% extends "architect/_layouts/base" %}

{% set selectedSubnavItem = 'migrations' %}

{# The content of the CP Section #}
{% set content %}
    <h2>{{ "Migrations"|t('architect') }}</h2>
    <p>Coming Soon.</p>
{% endset %}
